.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  background-color: #2196f3;
  padding: 1rem;
  overflow: auto;
  white-space: nowrap;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.isActive {
  background-color: #2196f3;
  color: white;
}

.button {
  background-color: #2196f3;
  color: white;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #2196f3;
}


/* input style */
.input {
  padding: 0.5rem;
  border: 1px solid #2196f3;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.submitButton {
  background-color: #2196f3;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}


